apiVersion: admissionregistration.k8s.io/v1
kind: ValidatingWebhookConfiguration
metadata:
  name: "pod-policy.kuberos.io"
webhooks:
  - name: "pod-policy.kuberos.io"
    namespaceSelector:
      matchExpressions:
        - key: environment
          operator: In
          values:
            - prod
            - staging
    rules:
      - apiGroups:
          - ""
        apiVersions:
          - "v1"
        operations:
          - "CREATE"
          - "UPDATE"
        resources:
          - "pods"
        scope: "Namespaced"
    clientConfig:
      caBundle:
      service:
        namespace: "default"
        name: "kuberos"
        path: /api/v1/pods
    admissionReviewVersions: ["v1"]
    sideEffects: None
    timeoutSeconds: 10
